:css
	h1{
		font-size:20px;
		padding-bottom:8px;
	}
	p{
		color:#999;
		padding:7px;
		line-height:1.6em;
		width:500px;
	}
%h1 Homkora API Documentation
%p
	:markdown
		Projects
		=======

		*****

		**Retrieve Projects:**

		Required Params: auth_token

			Example Code:

				curl http://homkora.com/projects.json?auth_token=APIKEYHERE

			Expected Result:

				[
					{
						"_id":"5143c295d7fd1f987f222221",
						"created_at":"2013-03-16T00:53:41Z",
						"description":"test",
						"title":"test",
						"total_time":"00:00:00",
						"updated_at":"2013-03-16T00:53:41Z",
						"user_id":"5143bf4dd7fd1f786722221"
					}
				]

		*****

		**Add Projects:**

		Required Params: auth_token - title - description

			Example Code:

				curl \
					-v -H "Accept: application/json" -H "Content-type: application/json" \
					-X POST -d '{"project":{"description":"value2","title":"value1"}}' \
					http://homkora.com/projects.json?auth_token=APIKEYHERE

			Expected Result:

				{
					"_id":"5143c6b5d7fd1f5c80000005",
					"created_at":"2013-03-16T01:11:17Z",
					"description":"value2",
					"title":"value1",
					"total_time":"00:00:00",
					"updated_at":"2013-03-16T01:11:17Z",
					"user_id":"5143bf4dd7fd1f786722221"
				}

		*****

		**Edit Projects:**

		Required Params: auth_token - title and/or description

			Example Code:

				curl \
					-v -H "Accept: application/json" -H "Content-type: application/json" \
					-X PUT -d '{"project":{"description":"edit"}}' \
					http://homkora.com/projects/PROJECTID.json?auth_token=APIKEYHERE

			Expected Result:

				{
					"_id":"5143c6b5d7fd1f5c80000005",
					"created_at":"2013-03-16T01:11:17Z",
					"description":"edit",
					"title":"value1",
					"total_time":"00:00:00",
					"updated_at":"2013-03-16T01:12:17Z",
					"user_id":"5143bf4dd7fd1f786722221"
				}

		*****

		**View Project:**

		Required Params: auth_token

			Example Code:

				curl http://homkora.com/projects/PROJECTID.json?auth_token=APIKEYHERE

			Expected Result:

				{
					"_id":"5143c6b5d7fd1f5c80000005",
					"created_at":"2013-03-16T01:11:17Z",
					"description":"edit",
					"title":"value1",
					"total_time":"00:00:00",
					"updated_at":"2013-03-16T01:12:17Z",
					"user_id":"5143bf4dd7fd1f786722221"
				}

		*****

		*****

		Timers
		=======

		*****

		**Retrieve Timers:**

		Required Params: auth_token

			Example Code:

				curl http://homkora.com/timers.json?auth_token=APIKEYHERE

			Expected Result:

				[
					{
						"_id":"5143cc22d7fd1f02d4000006",
						"created_at":"2013-03-16T01:34:26Z",
						"description":"test",
						"project_id":"5143c295d7fd1f987f000001",
						"time":"00:00:07",
						"title":"test",
						"updated_at":"2013-03-16T01:34:26Z"
					}
				]

		*****

		**Add Timer:**

		Required Params: auth_token - title - description - project_id - time

			Example Code:

				curl \
					-v -H "Accept: application/json" -H "Content-type: application/json" \
					-X POST -d '{"timer":{"description":"value2","title":"value1","time":"00:00:42","project_id":"5143c6b5d7fd1f5c80000005"}}' \
					http://homkora.com/timers.json?auth_token=APIKEYHERE

			Expected Result:

				{
					"_id":"5143cd72d7fd1f4a7f000008",
					"created_at":"2013-03-16T01:40:02Z",
					"description":"value2",
					"project_id":"5143c6b5d7fd1f5c80000005",
					"time":"00:00:42",
					"title":"value1",
					"updated_at":"2013-03-16T01:40:02Z"
				}

		*****

		**Edit Timer:**

		Required Params: auth_token

		Optional Params: title - description - project_id - time

			Example Code:

				curl \
					-v -H "Accept: application/json" -H "Content-type: application/json" \
					-X PUT -d '{"timer":{"description":"edit"}}' \
					http://homkora.com/timers/TIMERID.json?auth_token=APIKEYHERE

			Expected Result:

				{
					"_id":"5143cd72d7fd1f4a7f000008",
					"created_at":"2013-03-16T01:40:02Z",
					"description":"edit",
					"project_id":"5143c6b5d7fd1f5c80000005",
					"time":"00:00:42",
					"title":"value1",
					"updated_at":"2013-03-16T01:40:02Z"
				}

		*****

		**View Timer:**

		Required Params: auth_token

			Example Code:

				curl http://homkora.com/timers/TIMERID.json?auth_token=APIKEYHERE

			Expected Result:

				{
					"_id":"5143cd72d7fd1f4a7f000008",
					"created_at":"2013-03-16T01:40:02Z",
					"description":"edit",
					"project_id":"5143c6b5d7fd1f5c80000005",
					"time":"00:00:42",
					"title":"value1",
					"updated_at":"2013-03-16T01:40:02Z"
				}